.createlab-root {
  max-width: 500px;
  margin: 2.5rem auto;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 2px 12px rgba(26,35,126,0.07);
  padding: 2.5rem 2rem 2rem 2rem;
}
.createlab-title {
  font-size: 1.7rem;
  font-weight: 800;
  color: #241731;;
  margin-bottom: 1.5rem;
  letter-spacing: 0.03em;
  text-align: center;
}
.createlab-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.createlab-field label {
  font-size: 1rem;
  color: #241731;
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: block;
}
.createlab-field input,
.createlab-field textarea {
width: 95%;
  padding: 0.7rem 1rem;
  border: 1.5px solid #b6c6e3;
  border-radius: 1.2rem;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
  margin-top: 0.2rem;
  resize: none;
}
.createlab-field input:focus,
.createlab-field textarea:focus {
  border: 1.5px solid #241731
}
.createlab-field-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.2rem;
}
.createlab-btn {
  width: 100%;
  padding: 0.9rem 0;
  background: #67509C;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  transition: background 0.2s;
}
.createlab-btn:disabled {
  background: #b6c6e3;
  cursor: not-allowed;
}
.createlab-error {
  color: #e53935;
  font-size: 0.95rem;
  margin-bottom: 0.7rem;
  text-align: center;
}
.createlab-success {
  color: #1a237e;
  font-size: 1.15rem;
  text-align: center;
  font-weight: 700;
  margin-top: 2.5rem;
  line-height: 1.7;
}
